@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-35xl: 54px;
  --font-size-13xl: 32px;
  --font-size-24xl: 43px;
  --font-size-23xl: 42px;
  --font-size-6xl: 25px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-turquoise-100: #27e8dc;
  --color-indigo: #4a26a3;
  --color-slateblue: #704dc9;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-mini: 15px;
}
